#executionResultDisplay {
    color: #9cd025;
    background-color: #333333;
    /* margin-right: 5%; */
    padding-top: 2%;
    padding-bottom: 2%;
}


#editorDiv{
    border: 1px solid #979797;
    padding: 2%;
    margin-right: 5px;
}