
.mermaidContainer {
    background: #21222c;
    font-size: smaller;
}

.mermaidContainer code {
    font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
    code {
        font-family: "Fira Code VF", monospace;
    }
}