.main_container {
  padding: 5px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid grey;
  border-radius: 3px;
  background-color: white;
}

.notes_title {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

.notes_description,
.notes_link {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
