.columnOne, .columnTwo, .columnThree {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;

    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columnOne{
    background-image: url('../static/coding_laptop.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}


.columnTwo {
    background-image: url('../static/game.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.columnThree {
    background-image: url('../static/editor_real.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.columnOne:hover, .columnTwo:hover, .columnThree:hover{
    filter: brightness(60%);
    cursor: pointer;
}
