
TutorialPage {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.mermaid svg {
  height: 30vh;
}

#instructionPage{
  color: aliceblue;
  background-color: darkslategrey;  
  height: 60vh;
  padding: 5%;
  overflow-y: auto;
  text-align: center;
  font-family: "Open Sans";

  /*  */
  white-space: pre-line;
}